- if (NODE_ENV === "development"){

  // load all scripts individually for development purposes
  script(src="/javascripts/vendor/json2.js")
  script(src="/javascripts/vendor/jquery.js")
  script(src="/javascripts/vendor/jquery.resolved.js")
  script(src="/javascripts/vendor/underscore.js")
  script(src="/javascripts/vendor/backbone.js")
  script(src="/javascripts/vendor/backbone.compute.js")
  script(src="/javascripts/vendor/backbone.routefilter.js")
  script(src="/javascripts/vendor/backbone.wreqr.js")
  script(src="/javascripts/vendor/backbone.babysitter.js")
  script(src="/javascripts/vendor/backbone.marionette.js")

  script(src="/javascripts/bbclonemail/bbclonemail.js")
  script(src="/javascripts/bbclonemail/entities/mail.js")
  script(src="/javascripts/bbclonemail/entities/category.js")
  script(src="/javascriptS/bbclonemail/apps/selector/show/show_controller.js")
  script(src="/javascriptS/bbclonemail/apps/selector/show/show_view.js")
  script(src="/javascripts/bbclonemail/apps/selector/selector_app.js")
  script(src="/javascripts/bbclonemail/apps/mail/category/list/list_controller.js")
  script(src="/javascripts/bbclonemail/apps/mail/category/list/list_view.js")
  script(src="/javascripts/bbclonemail/apps/mail/category/category_app.js")
  script(src="/javascripts/bbclonemail/apps/mail/list/list_controller.js")
  script(src="/javascripts/bbclonemail/apps/mail/list/list_view.js")
  script(src="/javascripts/bbclonemail/apps/mail/show/show_controller.js")
  script(src="/javascripts/bbclonemail/apps/mail/show/show_view.js")
  script(src="/javascripts/bbclonemail/apps/mail/mail_app.js")
  script(src="/javascripts/bbclonemail/apps/contacts/contacts_app.js")
- } else {

  // for production, just load the one script that has been concatenated and minified.
  script(src="/javascripts/build/bbclonemail.min.js")

- }
